 {
    outline: 1px solid black;
}
body {
    width: 900px;
    margin: auto;
    padding: 0;
    font-size: 14px;
    line-height: 21px;
    color: #091f6b;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header {
    margin-top: 10px;
    margin-bottom: 30px;
}
.logo-img {
    float: left;
    width: 138px;
    margin-right: 15px;
    margin-bottom: 30px;
}
.logo-name {
    float: left;
    width: 450px;
    font-weight: bold;
    padding-top: 20px;
    color: #091f6b;
}
.logo-name span {
    text-transform: uppercase;
}
.language {
    float: right; 
    width: 60px;
    text-align: right;
    font-size: 16px;
    color: #2041a2;
    text-decoration: none;
    padding-left: 25px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 5px;
}
.language:hover {
    background-color: #2041a2;
    color: white;
}
.search {
    float: right;
    width: 260px;
    height: 34px;
    margin-top: 80px;
    padding-bottom: 1px;
    border: 1px solid #d7d7e3;
}
.search:hover {
    border: 1px solid #2041a2;
}
.input-search {
    display: inline-block;
    border: none;
    height: 30px;
    width: 197px;
    padding-left: 5px;
    padding-top: 4px;
}
.input-search:hover {
    background-color: white;
    outline: none;
}
.input-search:active {
    background-color: white;
    outline: none;
}
.search-btn {
    display: inline-block;
    width: 45px;
    margin-left: 0px;
    margin-top: 0px;
    padding: 7px 6px;
    text-align: right;
    background: linear-gradient(to bottom, white 0%, #d7d7e3 100%);
    color: #2041a2;
    font-weight: bold;
    text-decoration: none;
}
.search-btn:hover {
    background: #d7d7e3;
}
.clearfix {
    clear: both;
}
.main-navigation {
    width: 900px;
    margin: 0 auto;
}
.main-navigation ul {
    list-style: none;
    font-size: 0;
    padding: 0;
}
.main-navigation li {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 21px;
}
.main-navigation a {
    padding: 10px 24px;
    background: linear-gradient(to bottom, #2849a6 0%, #091f6b 50%, #2849a6 100%);
    color: #ffffff;
    text-decoration: none;
    font-weight: normal;
}
.main-navigation .active {
    background: #2041a2;
}
.main-navigation a:hover {
    background: #2041a2;
}
.left-column {
    float: left;
    width: 60%;
    margin-bottom: 30px;
    padding-top: 20px;
}
.slider {
    margin-bottom: 10px;
    position: relative;
}
/*Slider*/
.slider {
        width: 500px;
        height: 200px;
        border: 1px solid #888;
        position: relative;
        text-align: center;
    }
.slider > input {
        display: none;
    }
.slider > input + label {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 8px;
        background: rgba(90, 90, 90, 0.8);
        border: 2px solid rgba(190, 190, 190, 0.8);

        cursor: pointer;

        z-index: 100;
        position: relative;

        margin-right: 4px;
        top: 90%;

        transition: background 0.8s ease-out 0s;
    }

    .slider > input + label:hover {
        background: rgba(250, 250, 250, 0.8);
    }

    .slider > input:checked + label {
        background: rgba(220, 220, 220, 0.8);
    }
.slider > div {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 0;
    }
.slider > div {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
    }

    .slider > input:checked + label + div {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
    }
.slider > div > p {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 2px #000;
    }
.slider > input + label + div + label {
        display: none;
    }

    .slider > input:checked + label + div + label {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 50;
    }
/*End of slider*/
.left-colimn-text {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #d7d7e3;
    margin-right: 40px;
    text-align: justify;
}
.right-column {
    float: right;
    width: 40%;
    margin-bottom: 30px;
}
.right-column h2 {
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 16px;
}
.research {
    text-decoration: none;
    color: #091f6b; 
    display: block;
    margin-bottom: 8px;
}
.photo {
    width: 360px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.embrio {
    background-image: url(../img/neuron.jpg);
}
.stem-cells {
    background-image: url(../img/cells.jpg);
}
.sex {
    background-image: url(../img/sex.jpg);
}
.systems {
    background-image: url(../img/systems.jpg);
}
.ontogenesis {
    background-image: url(../img/ontogenesis.jpg);
    background-position: -5px -20px;
    
}
.right-column p {
    padding-left: 5px;
    background-color: #d7d7e3;
    margin-top: 0;
    margin-bottom: 5px;
}
.bottom-column {
    min-height: 450px;
    margin-bottom: 30px;
}
.btm-clmn {
    float: left;
    width: 24%;
    margin-right: 12px;
    margin-bottom: 40px;
}
.btm-clmn:last-child {
    margin-right: 0;
}
.btm-clmn-link {
    width: 100%;
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #091f6b;
    font-size: 16px;
    border-bottom: 10px solid #d6d8e5;
}
.author {
    font-style: italic;
}
footer {
    float: left;
    width: 900px;
}
.footer-nav {
    margin-bottom: 40px;
}
.footer-nav a {
    text-decoration: none;
    color: #2041a2;
    font-size: 12px;
    font-weight: bold;
    padding-right: 20px;
}
.copyright {
    font-size: 10px;
}